@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  border-radius: 60%;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #7d7d7d;
}

.container {
  width: 800px;
  margin: 20px auto;
}

.profile {
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  border-radius: 60%;
}

.profile-card {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.card {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid #ededed;
  border-radius: 15px;
  padding: 40px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.arrow-icon i {
  font-size: 60px;
  cursor: pointer;
}

a {
  color: black;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 30px;
  color: black;
}
