.box {
  background: lightblue;
  width: 100px;
  height: 100px;
  margin: 100px 100px;
}

.box:hover {
  transform: rotate(45deg) scale(2);
}

.loading-container {
  width: 400px;
  height: 30px;
  border: 1px solid black;
}

.loading-bar {
  background-color: tomato;
  width: 0px;
  height: 30px;
  transition: width 10s linear;
  transition-delay: 3s;
}

.loading-container:hover .loading-bar {
  width: 400px;
}

.box2 {
  width: 50px;
  height: 50px;
  background-color: blue;
  animation: boxanimation 5s 3;
  animation-delay: 2s;
  margin-top: 100px;
  margin-left: 300px;
}

@keyframes boxanimation {
  50% {
    scale: 2;
    background-color: green;
  }
  100% {
    scale: 1;
    background-color: yellow;
  }
}
