.container {
  background-color: aquamarine;
  display: flex;
}

.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.card1 {
  color: white;
  background-color: hsl(31, 77%, 52%);
}
.card2 {
  color: white;
  background-color: hsl(184, 100%, 22%);
}
.card3 {
  color: white;
  background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  body {
    background-color: red;
  }
}
